<div class="container-fluid" id="results-container">
  <div class="row">
    <div class="col-sm-4" id="refine-search">
      <p>Refine your search:</p>
      <%= form_for :location, url: "/locations", html: {id: "search"} do |f| %>
        <p><%= f.text_field :zip_code, value: "", placeholder: "zip code" %><%= f.submit "Search" %></p>
        <label>Insurance:</label>
        <select name="age">
          <option value="Aetna">Aetna</option>
          <option value="saab">Saab</option>
          <option value="mercedes">Mercedes</option>
          <option value="audi">Audi</option>
        </select><br><br>
        <label>Sliding Scale?</label>
        <select name="sliding-scale">
          <option value="yes">Yes</option>
          <option value="no">No</option>
        </select><br><br>
        <label>Age:</label>
        <select name="age">
          <option value="adult">Adult</option>
          <option value="senior">Senior</option>
          <option value="teen">Teen</option>
          <option value="child">Child</option>
        </select>
    </div>
    <div class="col-sm-4">
    </div>
      <% end %>
    <div class="col-sm-4 text-center">
      <h3 class="text-shadow2">We think these people may be able to help...</h3>
    </div>
  </div>
  <% @providers.each do |provider| %>
    <%= render partial: "show", layout: false, locals: {provider: provider, location: @location} %>
  <% end %>
</div>

<%= render "contact_form", layout: false %>
<%= render "message_success", layout: false %>
