<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      </button>
      <a class="navbar-brand" href="#">Signing up is free & easy...</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a id="signup" href="/providers/new">Home</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container" id="provider-signup-container">
  <div class="row">
      <h2>Create Profile<h2>
  </div>
  <div class="row">
    <div class="col-sm-1">
    </div>
    <div class="col-sm-5">

      <%= form_for :provider, url: providers_path do |f| %>
        <div class="form-group">
          <%= f.label :name, "Name:" %>
          <%= f.text_field :name, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :title, "Title:" %>
          <%= f.text_field :title, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :email, 'Email:' %>
          <%= f.text_field :email, placeholder: "joeblow@example.com", class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :zip, 'Zip Code:' %>
          <%= f.text_field :zip_code, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :phone_number, 'Phone Number:' %>
          <%= f.text_field :phone_number, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :photo_url, "Photo URL:" %>
          <%= f.text_field :photo_url, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :profile_url, "Profile URL:" %>
          <%= f.text_field :profile_url, class: 'form-control' %>
        </div>
      </div>
      <div class="col-sm-1">
      </div>
      <div class="col-sm-4">
        <h4>Areas of Specialty</h4>
        <div class="checkbox">
          <label><input name="competency[][depression]" type="checkbox" value="">Depression</label>
        </div>
        <div class="checkbox">
          <label><input name="competency[][anxiety]" type="checkbox" value="">Anxiety</label>
        </div>
        <div class="checkbox">
          <label><input name="competency[][adhd]" type="checkbox" value="">Add/ADHD</label>
        </div>
        <div class="checkbox">
          <label><input name="competency[][eating_disorders]" type="checkbox" value="">Eating Disorders</label>
        </div>
        <div class="checkbox">
          <label><input name="competency[][addiction]" type="checkbox" value="">Addiction</label>
        </div>
        <div class="checkbox">
          <label><input name="competency[][grief]" type="checkbox" value="">Grief</label>
        </div>
         <%= f.submit 'Submit', class: 'btn btn-primary' %>
      <% end %>
      </div>
  </div>
    <div class="row">
      <div class="col-sm-6">
      </div>
    </div>


</div>



