<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      </button>
      <a class="navbar-brand" href="#">Spring</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a id="signup" href="/providers/new">Provider Sign Up</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container" id="provider-signup-container">
  <div class="row">
    <div class="col-sm-offset-4">
      <h2>Signing up is free & easy...</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-1">
    </div>
    <div class="col-sm-5">
      <%= form_for :provider, url: providers_path do |f| %>
        <div class="form-group">
          <%= f.label :name, "Name:" %>
          <%= f.text_field :name, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :title, "Title:" %>
          <%= f.text_field :title, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :email, 'Email:' %>
          <%= f.text_field :email, placeholder: "joeblow@example.com", class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :phone_number, 'Phone Number:' %>
          <%= f.text_field :phone_number, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :photo_url, "Photo URL:" %>
          <%= f.text_field :photo_url, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :profile_url, "Profile URL:" %>
          <%= f.text_field :profile_url, class: 'form-control' %>
        </div>
        <div class="checkbox">
         <%= f.label "Depression" %>
         <%= f.check_box :"disorder[depression]", class: 'checkbox' %>
        </div>
        <div class="checkbox">
         <%= f.label "Anxiety" %>
         <%= f.check_box :"disorder[anxiety]", class: 'checkbox' %>
        </div>
        <div class="checkbox">
         <%= f.label "ADD/ADHD" %>
         <%= f.check_box :"disorder[add_adhd]", class: 'checkbox' %>
        </div>
        <div class="checkbox">
         <%= f.label "Eating Disorders" %>
         <%= f.check_box :"disorder[eating_disorder]", class: 'checkbox' %>
        </div>
        <div class="checkbox">
         <%= f.label "Addiction" %>
         <%= f.check_box :"disorder[addiction]", class: 'checkbox' %>
        </div>
        <%= f.submit 'Submit', class: 'btn btn-primary' %>
      <% end %>
      </div>

  </div>
</div>


<!-- t.string   "title"
     t.string   "name"
     t.string   "photo_url"
     t.string   "profile_url"
     t.string   "email"
     t.string   "phone_number" -->

